.main-benefits {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-top: 30px;
}

.main-benefits-description {
    width: 270px;
    font-size: 14px;
    line-height: 1.7143;
    color: var(--text-color);
    margin-top: 10px;
}

.main-titles {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1667;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 50px;
}

.main-title-list {
    width: 370px;
    display: flex;
}

.main-list-img {
    margin-right: 30px;
}
.main-img-reletiv {
    position: relative;
}
.main-title-img-dskpn {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    width: 370px;
    height: 70px;
    position: absolute;
    text-align: center;
    justify-content: center;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    color:rgba(255, 255, 255, 1);
    text-transform: uppercase;
    padding: 27px;
}